.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Lato', sans-serif;;
}

.layout .container1 {
    flex: 65%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F7F6FE
}

.layout .container1 .subcontainer11 {
    flex: 10%;
    /* border: 1px solid red; */
}

.layout .container1 .subcontainer11 .title {
    font-size: 2vw;
    font-weight: 700;
}

.layout .container1 .subcontainer11 .subtitle {
    font-size: 1vw;
    font-weight: 500;
}

.layout .container1 .subcontainer12 {
    flex: 30%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.layout .container1 .subcontainer12 .balancestatistic {
    flex: 60%;
    /* border: 1px solid red; */
    margin: 1vw;
    padding: 0.5vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    background-color: white
}

.layout .container1 .subcontainer12 .debitcard {
    position: relative;
    flex: 40%;
    /* border: 1px solid red; */
    margin: 1vw;
    border-radius: 1vw;
    background-color: white
}

.layout .container1 .subcontainer13 {
    flex: 30%;
    /* border: 1px solid red; */
    margin: 1vw;
    padding: 0.5vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    background-color: white

}

.layout .container1 .subcontainer14 {
    flex: 30%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.layout .container1 .subcontainer14 .transaction {
    flex: 70%;
    /* border: 1px solid red; */
    margin: 1vw;
    padding: 0.5vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    background-color: white
}

.layout .container1 .subcontainer14 .analytics {
    position: relative;
    flex: 30%;
    /* border: 1px solid red; */
    margin: 1vw;
    border-radius: 1vw;
    background-color: white
}

.layout .container2 {
    flex: 35%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.layout .container2 .subcontainer21 {
    flex: 28%;
    border: 1px solid gray;
    padding: 0.5vw;
    margin: 1vw;
    border-radius: 1vw
}

.layout .container2 .subcontainer22 {
    flex: 37%;
    border: 1px solid gray;
    padding: 0.5vw;
    margin: 1vw;
    border-radius: 1vw
}

.layout .container2 .subcontainer23 {
    flex: 35%;
    border: 1px solid gray;
    padding: 0.5vw;
    margin: 1vw;
    border-radius: 1vw
}